:root {
  --clr-primary: #FFC800;
  --clr-primary-rgb: 255, 200, 0;
  //--clr-primary-loading: rgba(var(--clr-primary), 0.7);
  --clr-black: #000000;
  --clr-black-rgb: 0, 0, 0;
  --clr-white: #ffffff;

  --transition: 0.25s ease-in-out all;
}
